<div id="dialog-app" class="dialog-content">
    <p> {{content}} </p>
    {{log inputs}}
    {{#each inputs}}
        <div class="form-group">
        {{#if isCheckbox}}
            {{#each options}}
                <input type="checkbox" id="[{{@../index}}, {{@index}}]" name="checkbox.{{value}}" value={{value}} {{#if isChecked}}checked{{/if}}>
                {{#if image}}<img src={{image}}>{{/if}}
                <label for="[{{@../index}}, {{@index}}]">{{localize label}}</label>
            {{/each}}
        {{else if isRadio}}
            {{#each options}}
                <input type="radio" id="[{{@../index}}, {{@index}}]" name="radio.{{value}}" value={{value}} {{#if isSelected}}checked{{/if}}>
                {{#if image}}<img src={{image}}>{{/if}}
                <label for="[{{@../index}}, {{@index}}]">{{localize label}}</label>
            {{/each}}
        {{else if isSelect}}
            {{#each options}}
                <div>
                    <label for="[{{@../index}}, {{@index}}]">{{localize label}}</label>
                    <select id="[{{@../index}}, {{@index}}]" name="select.{{value}}">
                        {{#each options}}
                            <option value="{{this}}" {{#if (eq this ../currentAmount)}}selected{{/if}}>{{this}}</option>
                        {{/each}}
                        {{#if image}}<img src={{image}}>{{/if}}
                    </select>
                </div>
            {{/each}}
        {{else if isText}}
            {{#each options}}
                <div>
                    <label for="[{{@../index}}, {{@index}}]">{{localize label}}</label>
                    <input type="text" id="[{{@../index}}, {{@index}}]" name="text.{{id}}" value="{{value}}">
                    {{#if image}}<img src={{image}}>{{/if}}
                </div>
            {{/each}}
        {{else if isNumber}}
            {{#each options}}
                <div>
                    <label for="[{{@../index}}, {{@index}}]">{{localize label}}</label>
                    <input type="text" id="[{{@../index}}, {{@index}}]" name="number.{{id}}" value={{value}}>
                    {{#if image}}<img src={{image}}>{{/if}}
                </div>
            {{/each}}
        {{else if isFilePicker}}
            {{#each options}}
                <div>
                    <label for="[{{@../index}}, {{@index}}]">{{localize label}}</label>
                    <file-picker id="[{{@../index}}, {{@index}}]" name="file-picker.{{id}}" type="{{type}}" placeholder="{{value}}"></file-picker>
                </div>
            {{/each}}
        {{/if}}
        </div>
    {{/each}}
</div>