<div id="dialog-app" class="dialog-content">
    <p class="content"> {{content}} </p>
    {{#each inputs}}
        <div class="form-group">
        {{#if isButton}}
            {{#if displayAsRows}}
                <div class="flex-col">
                    {{#each options}}
                        <button type="submit" class="form-button" data-action="confirm" id="[{{@../index}}, {{@index}}]" name="{{name}}">
                            {{#if image}}<img class="button-image" src={{image}}>{{/if}}
                            <p class="button-text">{{localize label}}</p>
                        </button>
                    {{/each}}
                </div>
            {{else}}
                {{#each options}}
                {{log this}}
                    <button type="submit" class="form-button" data-action="confirm" id="[{{@../index}}, {{@index}}]" name="{{name}}">
                        {{#if image}}<img class="button-image" src={{image}}>{{/if}}
                        <p class="button-text" {{#if tooltip}}data-tooltip="{{tooltip}}"{{/if}}>{{localize label}}</p>
                    </button>
                {{/each}}
            {{/if}}
        {{else if isCheckbox}}
            {{#if displayAsRows}}
                <div class="row-display">
                    {{#each options}}
                        <input type="checkbox" id="[{{@../index}}, {{@index}}]" name="{{name}}" {{#if isChecked}}checked{{/if}}>
                        <label for="[{{@../index}}, {{@index}}]">
                            {{#if image}}<img class="label-image" src={{image}}>{{/if}}
                            <p class="label-text">{{localize label}}</p>
                        </label>
                    {{/each}}
                </div>
            {{else}}
                {{#each options}}
                    <input type="checkbox" id="[{{@../index}}, {{@index}}]" name="{{name}}" {{#if isChecked}}checked{{/if}}>
                    <label for="[{{@../index}}, {{@index}}]">
                        {{#if image}}<img class="label-image" src={{image}}>{{/if}}
                        <p class="label-text">{{localize label}}</p>
                    </label>
                {{/each}}
            {{/if}}
        {{else if isRadio}}
            {{#if displayAsRows}}
                <div class="row-display">
                    {{#each options}}
                        <input type="radio" id="[{{@../index}}, {{@index}}]" name="{{../radioName}}" value="{{name}}" {{#if isChecked}}checked{{/if}}>
                        <label for="[{{@../index}}, {{@index}}]">
                            {{#if image}}<img class="label-image" src={{image}}>{{/if}}
                            <p class="label-text">{{localize label}}</p>
                        </label>
                    {{/each}}
                </div>
            {{else}}
                {{#each options}}
                    <input type="radio" id="[{{@../index}}, {{@index}}]" name="{{../radioName}}" value="{{name}}" {{#if isChecked}}checked{{/if}}>
                    <label for="[{{@../index}}, {{@index}}]">
                        {{#if image}}<img class="label-image" src={{image}}>{{/if}}
                        <p class="label-text">{{localize label}}</p>
                    </label>
                {{/each}}
            {{/if}}
        {{else if isSelectAmount}}
            {{#if displayAsRows}}
                <div class="row-display">
                    {{#each options}}
                        <select id="[{{@../index}}, {{@index}}]" name="{{name}}">
                            {{#each options}}
                                <option value="{{this}}" {{#if (gt this ../currentMaxAmount)}}disabled{{/if}} {{#if (eq this ../currentAmount)}}selected{{/if}}>{{this}}</option>
                            {{/each}}
                        </select>
                        <label for="[{{@../index}}, {{@index}}]">
                            {{#if image}}<img class="label-image" src={{image}}>{{/if}}
                            <p class="label-text">{{localize label}}</p>
                        </label>
                    {{/each}}
                </div>
            {{else}}
                {{#each options}}
                    <div>
                        <label for="[{{@../index}}, {{@index}}]">
                            {{#if image}}<img class="label-image" src={{image}}>{{/if}}
                            <p class="label-text">{{localize label}}</p>
                        </label>
                        <select id="[{{@../index}}, {{@index}}]" name="{{name}}">
                            {{#each options}}
                                <option value="{{this}}" {{#if (gt this ../currentMaxAmount)}}disabled{{/if}} {{#if (eq this ../currentAmount)}}selected{{/if}}>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/each}}
            {{/if}}
        {{else if isSelectOption}}
            {{#if displayAsRows}}
                <div class="row-display">
                    {{#each options}}
                        <select id="[{{@../index}}, {{@index}}]" name="{{name}}">
                            {{#each options}}
                                <option value="{{this}}" {{#if (eq this ../currentValue)}}selected{{/if}}>{{localize this}}</option>
                            {{/each}}
                        </select>
                        <label for="[{{@../index}}, {{@index}}]">
                            {{#if image}}<img class="label-image" src={{image}}>{{/if}}
                            <p class="label-text">{{localize label}}</p>
                        </label>
                    {{/each}}
                </div>
            {{else}}
                {{#each options}}
                    <div>
                        <label for="[{{@../index}}, {{@index}}]">
                            {{#if image}}<img class="label-image" src={{image}}>{{/if}}
                            <p class="label-text">{{localize label}}</p>
                        </label>
                        <select id="[{{@../index}}, {{@index}}]" name="{{name}}">
                            {{#each options}}
                                <option value="{{this}}" {{#if (eq this ../currentValue)}}selected{{/if}}>{{localize this}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/each}}
            {{/if}}
        {{else if isText}}
            {{#if displayAsRows}}
                <div class="row-display">
                    <input type="text" id="[{{@../index}}, {{@index}}]" name="{{name}}" value="{{value}}">
                    <label for="[{{@../index}}, {{@index}}]">
                        {{#if image}}<img class="label-image" src={{image}}>{{/if}}
                        <p class="label-text">{{localize label}}</p>
                    </label>
                </div>
            {{else}}
                {{#each options}}
                    <div>
                        <label for="[{{@../index}}, {{@index}}]">
                            {{#if image}}<img class="label-image" src={{image}}>{{/if}}
                            <p class="label-text">{{localize label}}</p>
                        </label>
                        <input type="text" id="[{{@../index}}, {{@index}}]" name="{{name}}" value="{{value}}">
                    </div>
                {{/each}}
            {{/if}}
        {{else if isNumber}}
            {{#if displayAsRows}}
                <div class="row-display">
                    {{#each options}}
                        <input type="number" id="[{{@../index}}, {{@index}}]" name="{{name}}" value="{{value}}">
                        <label for="[{{@../index}}, {{@index}}]">
                            {{#if image}}<img class="label-image" src={{image}}>{{/if}}
                            <p class="label-text">{{localize label}}</p>
                        </label>
                    {{/each}}
                </div>
            {{else}}
                {{#each options}}
                    <div>
                        <label for="[{{@../index}}, {{@index}}]">
                            {{#if image}}<img class="label-image" src={{image}}>{{/if}}
                            <p class="label-text">{{localize label}}</p>
                        </label>
                        <input type="number" id="[{{@../index}}, {{@index}}]" name="{{name}}" value="{{value}}">
                    </div>
                {{/each}}
            {{/if}}
        {{else if isFilePicker}}
            {{#if displayAsRows}}
                <div class="row-display">
                    <label for="[{{@../index}}, {{@index}}]"><p class="label-text">{{localize label}}</p></label>
                    <div></div>
                    <file-picker id="[{{@../index}}, {{@index}}]" name="{{name}}" type="{{type}}" value="{{value}}"></file-picker>
                </div>
            {{else}}
                {{#each options}}
                    <div>
                        <label for="[{{@../index}}, {{@index}}]"><p class="label-text">{{localize label}}</p></label>
                        <file-picker id="[{{@../index}}, {{@index}}]" name="{{name}}" type="{{type}}" value="{{value}}"></file-picker>
                    </div>
                {{/each}}
            {{/if}}
        {{/if}}
        </div>
    {{/each}}
</div>