<div id="dialog-app" class="dialog-content">
    <p> {{content}} </p>
    {{log inputs}}
    {{#each inputs}}
        {{log this}}
        {{#if isCheckbox}}
            {{#each options}}
            {{log this}}
            {{log @index}}
            {{log @../index}}
            {{log value}}
            {{log label}}
                <input type="checkbox" id="[{{@../index}}, {{@index}}]" name="checkbox.{{value}}" value={{value}} {{#if isChecked}}checked{{/if}}>
                <label for="{{value}}">{{localize label}}</label>
            {{/each}}
        {{/if}}
    {{/each}}
</div>