<nav class="cpr-embedded-macros tabs">
  {{#each tabs}}
  <a class="item {{cssClass}}" data-action="tab" data-tab="{{@key}}" data-group="main" data-tooltip="{{localize tooltip}}">
    <i class="{{icon}}"></i>
    {{localize label}}
  </a>
  {{/each}}
  <a class="item new-macro" data-action="newMacro" data-tooltip="{{localize 'CHRISPREMADES.EmbeddedMacros.Tabs.New.Tooltip'}}">
    <i class="fa-solid fa-plus"></i>
    {{localize 'CHRISPREMADES.EmbeddedMacros.Tabs.New.Label'}}
  </a>
</nav>