<div id="tab cpr-embedded-macros" class="dialog-content better-dialog scrollable">
    <form>
        {{#each inputs}}
            <div class="cpr-row-center">
                {{#if isContent}}
                    <p>{{localize value}}</p>
                {{else if isCheckbox}}
                    <label for="{{@key}}">{{localize label option=i18nOption}}</label>
                    <input type="checkbox" id="{{@key}}" name="{{@key}}" {{#if value}}checked{{/if}} {{#if isDisabled}}disabled{{/if}} {{#if tooltip}}data-tooltip="{{tooltip}}"{{/if}}>
                {{else if isNumber}}
                    <label for="{{@key}}">{{localize label option=i18nOption}}</label>
                    <input type="number" id="{{@key}}" name="{{@key}}" value="{{value}}" {{#if isDisabled}}disabled{{/if}} {{#if tooltip}}data-tooltip="{{tooltip}}"{{/if}}>
                {{else if isText}}
                    <label for="{{@key}}">{{localize label option=i18nOption}}</label>
                    <input type="text" id="{{@key}}" name="{{@key}}" value="{{value}}" {{#if isDisabled}}disabled{{/if}} {{#if tooltip}}data-tooltip="{{tooltip}}"{{/if}}>
                {{else if isTextArea}}
                    <label for="{{@key}}">{{localize label option=i18nOption}}</label>
                    <textarea name="{{@key}}">{{value}}</textarea>
                {{else if isSelectOption}}
                    <label for="{{@key}}">{{localize label option=i18nOption}}</label>
                    <select id="{{@key}}" name="{{@key}}" {{#if isDisabled}}disabled{{/if}} {{#if tooltip}}data-tooltip="{{tooltip}}"{{/if}}>
                        {{#each options}}
                            <option value="{{value}}" {{#if isSelected}}selected{{/if}} {{#if isDisabled}}disabled{{/if}} {{#if tooltip}}data-tooltip="{{tooltip}}"{{/if}}>
                                {{localize label}}
                            </option>
                        {{/each}}
                    </select>
                {{/if}}
            </div>
        {{/each}}
    </form>
</div>