<footer class="better-form-footer">
    {{#each buttons as |button|}}
    <button type="{{button.type}}" {{#if button.name}}name="{{button.name}}"{{/if}} class="{{button.cssClass}}"
            {{#if button.action}}data-action="{{button.action}}"{{/if}} {{#if button.disabled}}disabled{{/if}}>
        {{#if button.icon}}<i class="{{button.icon}}" inert></i>{{/if}}
        {{#if button.label}}<label inert>{{localize button.label}}</label>{{/if}}
    </button>
    {{/each}}
</footer>
