<div class="tab cpr-medkit-tab {{tabs.devTools.cssClass}}" data-tab="devTools" data-group="main">
    {{#if devTools}}
    <fieldset class="cpr-fieldset">
        <legend>Configure Automation Info:</legend>
        <div class="form-group cpr-column">
            <div class="cpr-row-center cpr-even-flex">
                <label for="identifier">Identifier:</label>
                <input type="text" id="identifier" name="devToolsidentifier" value="{{devTools.identifier}}">
            </div>
            <div class="cpr-row-center cpr-even-flex">
                <label for="version">Version:</label>
                <input type="text" id="version" name="devToolsversion" value="{{devTools.version}}">
            </div>
            <div class="cpr-row-center cpr-even-flex">
                <label for="source">Source:</label>
                <input type="text" id="source" name="devToolssource" value="{{devTools.source}}">
            </div>
            <div class="cpr-row-center cpr-config-flex">
                <label for="hasAnimation">Has Animation:</label>
                <input type="checkbox" id="hasAnimation" name="devToolshasAnimation" {{#if devTools.hasAnimation}}checked{{/if}}>
            </div>
        </div>
    </fieldset>
    <fieldset class="cpr-fieldset">
        <legend>Configure Macro Info:</legend>
        <div class="form-group cpr-column">
            <div class="cpr-row-center cpr-input-flex">
                <label for="item">Midi Item:</label>
                <input type="text" id="item" name="devToolsitem" value="{{devTools.midi.item}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center cpr-input-flex">
                <label for="actor">Midi Actor:</label>
                <input type="text" id="actor" name="devToolsactor" value="{{devTools.midi.actor}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center cpr-input-flex">
                <label for="aura">Aura:</label>
                <input type="text" id="aura" name="devToolsaura" value="{{devTools.aura}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center cpr-input-flex">
                <label for="combat">Combat</label>
                <input type="text" id="combat" name="devToolscombat" value="{{devTools.combat}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center cpr-input-flex">
                <label for="movement">Movement:</label>
                <input type="text" id="movement" name="devToolsmovement" value="{{devTools.movement}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center cpr-input-flex">
                <label for="rest">Rest:</label>
                <input type="text" id="rest" name="devToolsrest" value="{{devTools.rest}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center cpr-input-flex">
                <label for="save">Save:</label>
                <input type="text" id="save" name="devToolsrest" value="{{devTools.save}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center cpr-input-flex">
                <label for="skill">Skill:</label>
                <input type="text" id="skill" name="devToolsrest" value="{{devTools.skill}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center cpr-input-flex">
                <label for="check">Check:</label>
                <input type="text" id="check" name="devToolsrest" value="{{devTools.check}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center cpr-input-flex">
                <label for="check">Item:</label>
                <input type="text" id="itemMacro" name="devToolsrest" value="{{devTools.item}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center cpr-input-flex">
                <label for="equipment">Equipment:</label>
                <input type="text" id="equipment" name="devToolsequipment" value="{{devTools.equipment}}" placeholder="string">
            </div>
        </div>
    </fieldset>
    {{else}}
        No automation info found! Check spelling?
    {{/if}}
</div>