<div class="tab cpr-medkit-tab {{tabs.overtime.cssClass}} scrollable" data-tab="overtime" data-group="main">
    {{log this}}
    {{log 'this is the overtime'}}
    <p class="content"> {{localize content}} </p>
    {{#each overTime.fieldsets}}
        <fieldset class="cpr-fieldset">
            <legend data-tooltip="{{localize tooltip}}">{{localize label}}</legend>
            <div class="form-group">
                {{#each options}}
                    {{#if show}}
                        {{#if isCheckbox}}
                            <input type="checkbox">
                        {{/if}}
                    {{/if}}
                {{/each}}
            </div>
        </fieldset>
    {{/each}}
</div>