<div class="tab cpr-medkit-tab {{tabs.genericFeatures.cssClass}} scrollable" data-tab="genericFeatures" data-group="main">
    <div>
        {{#each genericFeatures.genericFeaturesOptions}}
            <div class="cpr-row-center cpr-multi-select-row" data-options="genericFeaturesOptions">
                <label for="{{id}}" data-tooltip="{{localize tooltip}}">{{localize label}}</label>
                <multi-select id="{{id}}" name="{{id}}">
                {{#each options}}
                    <option value="{{value}}" {{#if isSelected}}selected{{/if}}>{{localize label}}</option>
                {{/each}}
                </multi-select>
            </div>
        {{/each}}
        <div class="cpr-fieldset-group">
            {{#each genericFeatures.genericFeaturesConfigs}}
                {{#if configOptions.[0]}}
                    <fieldset class="cpr-fieldset" data-options="genericFeaturesConfigs" data-category="{{@key}}">
                        <legend>{{label}}</legend>
                        <div class="form-group cpr-row">
                            {{#each configOptions}}
                                {{#if isCheckbox}}
                                    <div class="cpr-row-center">
                                        <label for="{{id}}">{{localize label}}</label>
                                        <input type="checkbox" id="{{id}}" name="{{id}}" {{#if isChecked}}checked{{/if}}>
                                    </div>
                                {{else if isText}}
                                    <div class="cpr-row-center">
                                        <label for="{{id}}">{{localize label}}</label>
                                        <input type="text" id="{{id}}" name="{{id}}" value="{{value}}">
                                    </div>
                                {{else if isNumber}}
                                    <div class="cpr-row-center">
                                        <label for="{{id}}">{{localize label}}</label>
                                        <input type="number" id="{{id}}" name="{{id}}" value="{{value}}">
                                    </div>
                                {{else if isSelect}}
                                    <div class="cpr-row-center">
                                        <label for="{{id}}">{{localize label}}</label>
                                        <select id="{{id}}" name="{{id}}">
                                            {{#each options}}
                                                <option value="{{value}}" {{#if isSelected}}selected{{/if}}>
                                                    {{localize label}}
                                                </option>
                                            {{/each}}
                                        </select>
                                    </div>
                                {{else if isSelectMany}}
                                    <div class="cpr-row-center cpr-multi-select-row">
                                        <label class="multi-select-label" for="{{id}}">{{localize label}}</label>
                                        <multi-select id="{{id}}" name="{{name}}">
                                            {{#each options}}
                                                <option value="{{value}}" {{#if isSelected}}selected{{/if}}>
                                                    {{localize label}}
                                                </option>
                                            {{/each}}
                                        </select>
                                    </div>
                                {{else if isDocuments}}
                                    <div>
                                        {{#if hasDocuments}}
                                            <div class="cpr-document-drop-display">
                                                {{#each documents}}
                                                    <div class="cpr-document-drop-item">
                                                        <img src="{{icon}}" class="cpr-document-drop-item-icon">
                                                        <span class="cpr-document-drop-item-name">{{name}}</span>
                                                        <button type="button" id={{../id}} data-uuid={{uuid}} data-action="removeDocument">
                                                            <i class="fas fa-minus"></i>
                                                        </button>
                                                    </div>
                                                {{/each}}
                                            </div>
                                        {{/if}}
                                        <div class="cpr-row-center">
                                            <label for="{{id}}">{{localize label}}</label>
                                            <input class="document-drop" type="text" id="{{id}}" name="{{name}}" placeholder="{{localize 'CHRISPREMADES.Medkit.Inputs.Documents.Placeholder'}}">
                                            <button type="button" id={{id}} data-action="addDocument">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                {{else if isFile}}
                                    <div class="cpr-row-center">
                                        <label for="{{id}}">{{localize label option=i18nOption}}</label>
                                        <file-picker id="{{id}}" name="{{name}}" type="{{type}}" value="{{value}}" {{#if isDisabled}}disabled{{/if}} {{#if tooltip}}data-tooltip="{{tooltip}}"{{/if}}></file-picker>
                                    </div>
                                {{/if}}
                            {{/each}}
                        </div>
                    </fieldset>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>