<div class="tab cpr-medkit-tab {{tabs.devTools.cssClass}}" data-tab="devTools" data-group="main">
    {{#if devTools}}
    <fieldset class="cpr-fieldset">
        <legend>Configure Automation Info:</legend>
        <div class="form-group cpr-medkit-devTools devTools-info">
            <div>
                <label for="identifier">Identifier:</label>
                <input type="text" id="identifier" name="devToolsidentifier" value="{{devTools.identifier}}">
            </div>
            <div>
                <label for="version">Version:</label>
                <input type="text" id="version" name="devToolsversion" value="{{devTools.version}}">
            </div>
            <div>
                <label for="source">Source:</label>
                <input type="text" id="source" name="devToolssource" value="{{devTools.source}}">
            </div>
        </div>
    </fieldset>
    <fieldset class="cpr-fieldset">
        <legend>Configure Midi Macro Info:</legend>
        <div class="form-group cpr-medkit-devTools devTools-midi">
            <div>
                <label for="item">Item:</label>
                <input type="text" id="item" name="devToolsitem" value="{{devTools.midi.item}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div>
                <label for="actor">Actor:</label>
                <input type="text" id="actor" name="devToolsactor" value="{{devTools.midi.actor}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
                <label for="aura">Aura:</label>
                <input type="text" id="aura" name="devToolsaura" value="{{devTools.aura}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
        </div>
    </fieldset>
    {{else}}
        No automation info found! Check spelling?
    {{/if}}
</div>