<div class="tab cpr-medkit-tab {{tabs.devTools.cssClass}} scrollable" data-tab="devTools" data-group="main">
    <fieldset class="cpr-fieldset">
        <legend>Macros to be Called:</legend>
        <div class="form-group cpr-column">
            <div class="cpr-row-center">
                <label for="effect">Identifier:</label>
                <input type="text" id="identifier" name="identifier" value="{{identifier}}" placeholder="">
            </div>
                <div class="cpr-row-center">
                <label for="effect">Rules:</label>
                <input type="text" id="rules" name="rules" value="{{rules}}" placeholder="modern">
            </div>
            <div class="cpr-row-center">
                <label for="effect">Effect:</label>
                <input type="text" id="effect" name="effect" value="{{macros.effect}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center">
                <label for="aura">Aura:</label>
                <input type="text" id="aura" name="aura" value="{{macros.aura}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center">
                <label for="actor">Actor:</label>
                <input type="text" id="actor" name="actor" value="{{macros.midi.actor}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center">
                <label for="combat">Combat:</label>
                <input type="text" id="combat" name="combat" value="{{macros.combat}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center">
                <label for="movement">Movement:</label>
                <input type="text" id="movement" name="movement" value="{{macros.movement}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center">
                <label for="rest">Rest:</label>
                <input type="text" id="rest" name="rest" value="{{macros.rest}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center">
                <label for="rest">Save:</label>
                <input type="text" id="save" name="save" value="{{macros.save}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center">
                <label for="rest">Check:</label>
                <input type="text" id="check" name="check" value="{{macros.check}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center">
                <label for="rest">Skill:</label>
                <input type="text" id="skill" name="skill" value="{{macros.skill}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
            <div class="cpr-row-center">
                <label for="death">Death:</label>
                <input type="text" id="death" name="death" value="{{macros.death}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
            </div>
        </div>
    </div>
</div>