<div class="tab cpr-medkit-tab {{tabs.info.cssClass}}" data-tab="info" data-group="main">
    {{#if info.otherRulesAutomationAvailable}}
    <div class="form-group cpr-row-center">
        <div class="cpr-column">
            <li class="cpr-notification warning">{{localize "CHRISPREMADES.Medkit.OtherRulesAvailable" rules=info.otherRules}}</li>
            <button type="button" data-action="changeRules" id="changeRules" {{#unless info.canUpdate.value}}disabled data-tooltip="{{localize info.canUpdate.tooltip}}"{{/unless}}>
                <label for="changeRules">{{localize "CHRISPREMADES.Medkit.ChangeRules"}}</label>
            </button>
        </div>
    </div>
    {{/if}}
    {{#if info.hasAutomation}}
        {{#unless info.isUpToDate}}
            <div class="form-group cpr-row-center">
                <button type="button" data-action="update" id="update" {{#unless info.canUpdate.value}}disabled data-tooltip="{{localize info.canUpdate.tooltip}}"{{/unless}}>
                    <label for="update">{{localize "CHRISPREMADES.Generic.Update"}}</label>
                </button>
            </div>
        {{/unless}}
    {{/if}}
    {{#if info.canApplyAutomation}}
        <div class="form-group cpr-medkit-info cpr-row-center" data-options="automationOptions">
            {{#each info.automationOptions}}
                <label for="{{id}}">{{localize label}}</label>
                <select id="{{id}}" name="{{id}}" {{#if disabled}}disabled data-tooltip="{{localize tooltip}}"{{/if}}>
                    {{#each options}}
                        <option value="{{value}}" id="{{id}}" {{#if isSelected}}selected{{/if}}>{{localize label}}</option>
                    {{/each}}
                </select>
            {{/each}}
        </div>
    {{/if}}
</div>