<div id="cpr-roll-resolver" class="roll-resolver-form standard-form">
    <p class="roll-resolver-content" data-bonus-total="{{options.bonusTotal}}">
        {{options.name}} - {{options.itemName}}
    </p>
    {{#each groups}}
        <div class="roll-resolver-group roll-resolver-grid" data-ids="{{ids}}">
            <p class="roll-resolver-group-content">
                {{formula}}
            </p>
            <label class="icon die-input">
                <input type="text" id="{{damageType}}" name="{{damageType}}" max="{{max}}" step="1" autofocus placeholder="{{localize "CHRISPREMADES.Generic.Total"}}">
                <img class="damage-type-icon" src="{{icon}}" alt="{{damageTypeLabel}}">
            </label>
            <p class="roll-resolver-group-content">
                {{damageTypeLabel}}
            </p>
        </div>
    {{/each}}
</div>