<footer class="roll-resolver-save">
    <fieldset class="cpr-fieldset">
        <legend data-tooltip="{{localize "CHRISPREMADES.ManualRolls.QuickButtons.Tooltip"}}">{{localize "CHRISPREMADES.ManualRolls.QuickButtons.Label"}}</legend>
        {{#each saveButtons as |button|}}
            <button type="{{button.type}}" name="{{button.name}}">
                <i class="{{button.icon}}" inert></i>
                <label inert>{{localize button.label}}</label>
            </button>
        {{/each}}
    </fieldset>
</footer>