<div id="cpr-roll-resolver" class="roll-resolver-form standard-form">
    <p class="roll-resolver-content" data-bonus-total="{{options.bonusTotal}}">
        {{options.content}}
    </p>
    {{#if options.modifiers}}
        <div class="roll-resolver-modifiers">
            <p>
                {{localize 'CHRISPREMADES.ManualRolls.HasModifers'}}: <span>{{options.modifiers}}</span>, {{localize 'CHRISPREMADES.ManualRolls.PleaseResolve'}}
            </p>
        </div>
    {{/if}}
    {{#each groups}}
        <div class="roll-resolver-group roll-resolver-flex" data-ids="{{ids}}">
            {{formula}}
            <label class="icon die-input">
                <input type="text" id="total" name="total" autofocus placeholder="{{localize "CHRISPREMADES.Generic.Total"}}">
                {{#each icons}}{{{this}}}{{/each}}
            </label>
        </div>
    {{/each}}
</div>